<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filmy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    placeholder="Tytuł filmu"
    debounce="500"
    animated
    (ionChange)="onFind($event)"
  ></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label>Gatunek</ion-label>
      <ion-select
        multiple="true"
        cancelText="Anuluj"
        okText="Szukaj"
        (ionChange)="onGenreChange($event)"
      >
        <ion-select-option *ngFor="let genre of genres" [value]="genre.id"
          >{{genre.name}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item-sliding *ngFor="let movie of movies">
      <ion-item-options side="start">
        <ion-item-option>
          <div [ngSwitch]="true" class="vote-container">
            <p *ngSwitchCase="movie.vote_average<3">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </p>
            <p *ngSwitchCase="movie.vote_average>=3 && movie.vote_average<6">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </p>
            <p *ngSwitchCase="movie.vote_average>=6 && movie.vote_average<9">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </p>

            <p *ngSwitchCase="movie.vote_average>=9">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </p>
          </div>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <div class="item-container">
          <img
            [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w92/'+movie.poster_path : '../../assets/img-placeholder.png'"
          />
          <div class="item-info-container">
            <p>
              {{movie.title + ' (' + (movie.release_date | date: 'yyyy') + ')'}}
            </p>
            <p>
              {{platform.isLandscape() ? movie.overview :
              (movie.overview.length>130 ? (movie.overview.substring(0,130) +
              '...') : movie.overview)}}
            </p>
          </div>
        </div>
      </ion-item>
    </ion-item-sliding>

    <ion-item
      *ngIf="!this.state.isLoading && pagination && (!pagination.results || pagination.results.length==0)"
    >
      <div class="no-data">
        <p><ion-icon name="alert"></ion-icon> <span>Brak wyników</span></p>
      </div>
    </ion-item>
    <ion-progress-bar
      *ngIf="this.state.isLoading"
      type="indeterminate"
    ></ion-progress-bar>
  </ion-list>

  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="onFetchMoreMovies($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Ładowanie..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
